alembic==0.8.10
backports.weakref==1.0rc1
bleach==1.5.0
click==6.7
decorator==4.0.11
Flask>=0.12.3
Flask-BasicAuth==0.2.0
Flask-Login==0.4.0
Flask-Migrate==2.0.3
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
Flask-WTF==0.14.2
funcsigs==1.0.2
gunicorn==19.7.1
html5lib==0.9999999
itsdangerous==0.24
Jinja2>=2.9.5
Keras==2.0.8
Mako==1.0.6
Markdown==2.6.9
MarkupSafe==0.23
mock==2.0.0
numpy==1.13.1
packaging==16.8
pandas==0.20.3
pbr==1.10.0
protobuf==3.4.0
psycopg2==2.7.1
pyparsing==2.1.10
python-dateutil==2.6.1
python-editor==1.0.3
pytz==2017.2
Pyyaml>=4.2b1
scikit-learn==0.19.0
scipy==0.19.1
six==1.10.0
sklearn==0.0
SQLAlchemy>=1.1.5
sqlalchemy-migrate==0.10.0
sqlparse==0.2.2
Tempita==0.5.2
tensorflow>=1.12.1
tensorflow-tensorboard==0.1.6
Theano==0.9.0
Werkzeug==0.15.3
WTForms==2.1
